<div id="game"></div>

<div class="row" style="width: 800px">
  <button class="col-6 btn btn-primary form-group" (click)="addLogo('aoa-logo')">Add new AoA Logo</button>
  <button class="col-6 btn btn-primary form-group" (click)="addLogo('local-toast-logo')">Add new LocalToast Logo</button>  
</div>

<div #nameBadge id="nameBadge">
  <div *ngIf="exampleScene.highlightedLogo">
    <h1>
      <span class="badge badge-primary">
        {{ exampleScene.highlightedLogo.name }}
      </span>
    </h1>
  </div>
</div>