<div id="game"></div>

<div style="width: 800px">
  <h1>A - Insert AoA Logo at mouse position</h1>
  <h1>L - Insert LocalToast Logo at mouse position</h1>
  <h1>D - Explode the hovered Logo</h1>
  <h1>Q - Explode all Logos</h1>
  <h1>Click on a Logo for more info</h1>
</div>

<div class="row" style="width: 800px">
  <button class="col-6 btn btn-primary form-group" (click)="addLogo('aoa-logo')">Add new AoA Logo</button>
  <button class="col-6 btn btn-primary form-group" (click)="addLogo('local-toast-logo')">Add new LocalToast Logo</button>  
</div>

<div #nameBadge id="nameBadge">
  <div *ngIf="exampleScene.highlightedLogo">
    <h1>
      <span class="badge badge-primary">
        {{ exampleScene.highlightedLogo.name }}
      </span>
    </h1>
  </div>
</div>