<div class="modal-header">
  <h4 class="modal-title">{{ logoSprite.name }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body center-contents">
  <img [src]="logoSprite.imgSrc" height="150px" width="150px">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
